@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    line-height: 30px;
    font-family: 'Belanosima', sans-serif;
}

body {
    background-color: #f7f3ef;
    color: #333;
}

.dark-mode {
    background-color: #65706f;
    color: #ffffff;
}

.container {
    width: 90%;
    margin: auto;
    align-items: center;
    font-size: larger;
}

/* Header */

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color:rgba(250, 235, 215, 0.849);
    padding: 2px 40px;
    border-radius: 2px;
    align-items: center;
    width: 100vw;
    z-index: 99;
    margin-top: 0;
    backdrop-filter: blur(8px);
}

.top-nav {
    margin: auto;
    align-items: center;
}

.top-nav span {
    font-size: 25px;
    font-weight: 600;
}

header .logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    color: #333;
}

.logo img {
    width: 50px;
}

#dark-btn {
  background: linear-gradient(45deg, rgba(240,240,241,1) 0%, rgba(66,66,129,1) 54%, rgba(0,17,20,1) 100%);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 10px;
  min-width: 5px;
  outline: none;
  overflow: hidden;
  padding: 10px 10px;
  position: sticky;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav ul {
    display: flex;
    gap: 15px;
    padding: 0 10px;
    padding-top: 5px;
}

header nav ul li a{
    font-size: 18px;
}

header nav a {
    font-family: cursive;
    font-weight: 550;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header nav a:hover {
    color: rgb(245, 128, 147);
}

.sign {
    display: flex;
    text-align: end;
    align-items: center;
    gap: 10px;
}

.sign a{
    font-family: verdana;
    text-decoration: underline;
}

.sign a:nth-child(2){
    padding: 5px 6px;
    background-color: rgb(56, 83, 133);
    border-radius: 5px;
    color: azure;
}

.sign a:nth-child(2):hover{
    color: rgb(245, 128, 147);
}

/* Mobile Navigation */

#burger {
    display: none;
}

#toggle {
    display: none;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 15px;
    right: 40px;
    z-index: 21;
    cursor: pointer;
    border-radius: 2px;
    background-color: #dbd4d479;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

#toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #8000ff;
    border-radius: 50px;
    transition: 0.3s ease;
}

#toggle .top-line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#toggle .mid-line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#toggle .bot-line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#burger:checked ~ #toggle .top-line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

#burger:checked ~ #toggle .bot-line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

#burger:checked ~ #toggle .mid-line {
    opacity: 0;
    transform: translateX(20px);
}

#nav-mobile {
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    background-color: rgba(248, 200, 141, 0.959);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    padding-top: 70px;
    border-radius: 5px;
    transition: right 500ms linear;
}

#nav-mobile.active {
    right: 0px;
}

#nav-mobile ul li {
    line-height: 80px;
}

#nav-mobile a {
    font-family: cursive;
    font-weight: 550;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

#nav-mobile a:hover {
    color: rgb(245, 128, 147);
}

.sign-side {
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: center;
    margin-top: 20px;
}

.sign-side #now {
    padding: 4px 6px;
    background-color: rgb(56, 83, 133);
    border-radius: 5px;
    color: azure;
    font-family: verdana;
    text-decoration: underline;
    gap: 100px;
    line-height: 50px;
    margin-top: 20px;
}

.sign-side a:nth-child(2):hover{
    color: rgb(245, 128, 147);
}

/* Main content */

section{
    background-color: rgba(201, 191, 182, 0.123);
}

.letter-head {
    color: azure;
    text-align: center;
    height: 350px;
    background-image: url(/image/sleep.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    border-radius: 5px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px;
    padding-top: 60px;
}

.letter-head p {
    animation: 3s anim-flipX ease infinite;
}    
    @keyframes anim-flipX {
        0% {
          opacity: 0;
          transform: rotateX(90deg);
        }
        50% {
          opacity: 1;
          transform: rotateX(720deg);
        }
        100% {
          opacity: 1;
          transform: rotateX(720deg);
        }
    }

.benefit {
    padding: 20px 20px;
}

.benefit h2 {
    font-size: 20px;
    margin: 0 2%;
}

.benefit p{
    margin: 0 2%;
}

.benefit ul li{
    list-style-position: inside;
    padding-left: 30px;
    margin: 0 2%;
}

.benefit ul li::before{
      content: "\00BB"
}

.grid {
    text-align: center;
    padding: 20px 20px;
}

.grid h3 {
    padding: 20px 0;
}

.grid .grid-image {
    display: grid;
    grid-auto-columns: repeat(3, 1fr);
    grid-auto-rows: 300px 300px 300px;
    grid-gap: 5px;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
}

.grid .grid-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.grid .grid-image .grid-item {
    border-radius: 3px ;
    overflow: hidden;
}

#one {
    grid-column: 1;
    grid-row: 1 / span 3;
}

#two {
    grid-column: 2 / span 2;
    grid-row: 1;
}

.anatomy {
    text-align: center;
}

.anatomy h2 {
    padding: 10px 10px;
}

.cat-anatomy {
    align-content: center;
    justify-content: center;
}

.slide-container {
    margin: auto;
    position: relative;
    width: 65%;
    height: 0;
    padding-bottom: 45%;
    background: #4c4c4c;
    border: solid 10px #2c2c2c;
    border-radius: 4px;
    text-align: center;
}

.slide-img {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

#dot1, #dot2, #dot3, #dot4 {
    display: none;
}

.pre, .next {
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(88, 88, 88, .4);
    z-index: 1;
    cursor: pointer;
}

.pre {
    left: 0;
}

.next {
    right: 0;
}

.slider-nav {
    width: 100%;
    height: 11px;
    bottom: 12px;
    position: absolute;
    text-align: center;
}

.bar {
    top: 30vw;
    left: 30%;
    width: 15px;
    height: 15px;
    margin: 0 4px;
    position: sticky;
    border-radius: 50%;
    display: flex;
    z-index: 10;
}

.slide-img {
    z-index: -1;
}

#dot1:checked ~ #slide1,
#dot2:checked ~ #slide2,
#dot3:checked ~ #slide3,
#dot4:checked ~ #slide4 {
    z-index: 9;
}

.cat-anatomy ul {
    display: inline-block;
    text-align:left;
    margin: 3% 0;
}

.cat-anatomy ul li {
    padding:0;
    margin:0;
    font-size: larger;
}

.cat-anatomy ul li:hover {
    color: rgb(245, 128, 147);
}

.cat-anatomy ul li::before {
    content: "\00BB"
    
}

/* Registration form section */

.section-form{
    margin-left: 0%;
    background-color: rgba(202, 176, 150, 0.212);
    padding: 40px 10px;
    text-align: center;
    position: relative;
}

fieldset{
    position: relative;
    max-width: 500px;
    margin:auto;
    margin-top: 10px;
    text-align: left;
    padding: 20px 20px;
    border-radius: 3px;
    
}

#fullname{
    display: block;
    width: 98%;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 0 4px;
}
#email{
    display: block;
    width: 98%;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 0 4px;
}

#continent {
    font-size: large;
}

#think-about{
    margin-bottom: 5px;
}

#radio{
    margin-bottom: 3px;
    gap: 5px;
}

.radio-choice{
    display: flex;
}

.radio-img1 img{
    width: 13vw;
    padding: 5px;
    border-radius: 10px;
    display: none ;
    position: relative;
}

#tell-us{
    margin-bottom: 5px;
}

textarea{
    width: 99%;
    border-radius: 3px;
    padding: 0 4px;
}

#photo{
    margin-bottom: 10px;
}

#upload{
    opacity: 0;
    position: absolute;
    left: 0;
}

#upload-btn {
    padding: 2px 2px;
    background-color: #ada3a379;
    border: solid #333;
    border-radius: 4px;
}

button{
    margin-top: 10px;
    margin-left: auto ;
    margin-right: auto;
    color: rgb(60, 17, 110);
    padding: 5px 30px;
    font-size: larger;
    font-family: fangsong;
    font-weight: 700;
    border-radius: 5px;
}

/* footer */

footer{
    align-items: center;
    text-align: center;
    margin: 2%;
    padding: 2%;
    font-style: oblique;
    border-top: #c5c1c1 5px double;
}



@media only screen and (max-width: 768px) {
    header nav ul{
        display: none;
    }

    header .sign {
        display: none;
    }

    #toggle {
        display: block;
    }

    .grid .grid-image {
        display: grid;
        grid-auto-columns: repeat(3, 1fr);
        grid-auto-rows: 200px 200px 200px 200px;
    }
    #one {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
    }

    #two {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    #four {
        grid-column: 1 / span 3;
        grid-row: 4;
    }

    #six {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .cat-anatomy ul li {
        font-size: large;
    }

    textarea{
        width: 100%;
        display: block;
    }

    .radio-img1 img{
        width: 20vw;
    }
}

@media only screen and (max-width: 425px) {
    .letter-head {
        font-size: medium;
        gap: 10px;
    }

    .letter-head p {
        line-height: 20px;
        font-size: small;
    }

    .benefit p {
        font-size: small;
        line-height: 20px;
    }

    .benefit ul li {
        font-size: small;
        line-height: 20px;
        padding-left: 0;
    }

    .grid .grid-image {
        display: grid;
        grid-auto-columns: repeat(4, 1fr);
        grid-auto-rows: 150px 150px 150px 150px;
    }
    #one {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    #two {
        grid-column: 1 / span 4;
        grid-row: 1;
    }

    #three {
        grid-column: 1 / span 2;
        grid-row: 4;
    }

    #four {
        grid-column: 1 / span 4;
        grid-row: 3;
    }

    #five {
        grid-column: 3 / span 2;
        grid-row: 4;
    }

    #six {
        grid-column: 3 / span 2;
        grid-row: 2;
    }

    .cat-anatomy ul li {
        font-size: medium;

    }
}

@media only screen and (max-width: 320px) {
    .letter-head h1 {
        font-size: large;
    }

    .benefit h3 {
        font-size: large;
    }

    #upload {
        max-width: 190px;
    }
}